$heading-1: 5rem;
$heading-2: 3.5rem;
$heading-3: 2.5rem;
$heading-4: 1.5rem;
$heading-5: 1.1rem;

$white-1: #ffffff;

$gray-1: #f7f7f7;
$gray-2: #ededed;
$gray-3: #dedede;
$gray-4: #cccccc;
$gray-5: #b2b2b2;
$gray-6: #9c9c9c;
$gray-7: #717171;
$gray-8: #595959;
$gray-9: #404040;
$gray-10: #2e2e2e;
$gray-11: #1a1a1a;
$gray-12: #0e0e0e;

$blue-1: #54c1ff;
$blue-2: #36b7ff;
$blue-3: #1cadff;
$blue-4: #00a3ff;
$blue-5: #0094ff;

$blue-dark: #0b2736;

$border-radius: 10px;

$shadow: 2px 12px 10px rgba(0, 0, 0, 0.1);
